<html>
<head>
<title>Regisztráció</title>
</head>
<body>
<form name="input" action = "/controllers/welcome" method="get">
Username: <input type="text" name="user">
Username: <input type="text" name="user2">
<input type="submit" value="Sign up">
</form>
</body>
</html>
