<html>
<head>
<title>Üdvözöllek</title>
</head>
<body>
Lépj be a szerverre vagy regisztrálj!
<form name="input" action = "/controllers/map" method="get">
Username: <input type="text" name="user">
<input type="submit" value="Login">

</form>
<a href="/controllers/signup">Sign up</a>
#if (!$success)
ures
#else telt
#end
</body>
</html>
